body {
    height: 100%;
    font-family: Arial, serif;
    background-color: #2B2D2D;
}

#main-container {
    display: flex;
    min-height: 90vh;
}

#toolbar-container {
    height: 3vh;
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}

.toolbar-btn {
    cursor: pointer;
    padding: 8px;
    color: white;
    font-weight: bold;
}

.toolbar-btn:hover {
    background-color: grey;
}

#monaco-container {
    width: 85vw;
    height: 90vh;
    padding-left: 8px;
}

.error {
    color: red;
    font-weight: bold;
}

#file-tree {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    max-width: 10vw;
    max-height: 90vh;
    overflow-x: scroll;
    user-select: none;
}

.indent {
    padding-left: 1rem;
}

.file-or-folder {
    display: inline-flex;
    padding-top: 2px;
    cursor: pointer;
}

.file-or-folder:hover {
    background-color: grey;
}

.icon {
    padding-right: 4px;
}

.package-folder {
    color: white;
}

#footer {
    padding-top: 2vh;
    color: white;
}
